* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #45246265;
}

.container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
}

.titulo {
    color: #452462;
}
