* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #45246265;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.titulo {
    color: #452462;

}

.qr-code {
    width: 300px;
}

